{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="row my-5">
 <div class="col-4 d-flex justify-content-center align-items-center">
    <img src="{% static 'images/im.jpg' %}" alt="image" class="about_image">
 </div>

 <div class="col-7 text-left text-light">
     <h2> Hello and a warm Welcome to you all !!</h2>
     <p class="fs-5">
        This is Avatar KC, and I’m delighted to connect with you. 
    </p>

    <p class="fs-5">
        I am an IT Assistant at Chandragiri Hills Limited, I work on networking and troubleshooting to ensure the effective operation of IT infrastructure. From setting up and overseeing networks to resolving complex technical issues,  I am dedicated to keeping systems running efficiently. My hands-on experience in diagnosing and solving hardware and software problems allows me to provide reliable support and minimize downtime, ensuring uninterrupted operations across the organization.
    </p>

    <p class="fs-5">
        In addition to my networking proficiency, I possess in-depth knowledge of software development and cloud computing. With expertise in HTML, CSS, JavaScript, and Python, I develop efficient and dynamic solutions using Django and MySQL. My knowledge with AWS allows me to design scalable and secure cloud environments. I am driven by a passion for leveraging technology to solve complex challenges and deliver meaningful outcomes.
    </p>

 </div>
</div>


<div class="row my-2">
    <h2 class="text-center" style="color:#4fffb0"> Skills</h2>

    <div class="d-flex justify-content-around align-items-center">
      <img
          src="{% static 'images/html.png' %}"
          width="70"
          height="70"
          alt="HTML Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/css.png' %}"
          width="70"
          height="70"
          alt="CSS Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/js.png' %}"
          width="70"
          height="70"
          alt="Django Logo"
          class="img-fluid"
      />


      <img
          src="{% static 'images/sql.png' %}"
          width="70"
          height="70"
          alt="CSS Logo"
          class="img-fluid"
      />

      
      <img
          src="{% static 'images/python.jpg' %}"
          width="60"
          height="60"
          alt="Python Logo"
          class="img-fluid"
      />

     

      <img
          src="{% static 'images/download.png' %}"
          width="70"
          height="70"
          alt="Django Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/QA.jpeg' %}"
          width="70"
          height="70"
          alt="Django Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/AWS.jpeg' %}"
          width="70"
          height="70"
          alt="Django Logo"
          class="img-fluid"
      />

      <img
          src="{% static 'images/cisco.jpeg' %}"
          width="70"
          height="70"
          alt="Django Logo"
          class="img-fluid"
      />
  </div>

</div>

{% endblock content1 %}
